.cards {
  padding: 1rem;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
}

.category-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  max-width: 1200px;
  margin: 0 auto;
}

.category-label {
  margin-left: 1rem;
  font-size: 1.1rem;
  font-weight: 500;
  text-transform: uppercase;

  &::before {
    display: inline-block;
    content: "";
    height: 3px;
    background: #fd5c3c;
    position: relative;
    vertical-align: middle;
    width: 40px;
    top: 50%;
    margin-top: -2px;
    margin-right: 20px;
  }
}
