.footer {
  border-top: 6px solid #fd5c3c;
  width: 100%;
  min-height: 100px;
  color: #fff;
  text-align: center;
  background: #272727;
  display: flex;
  justify-content: center;
  align-items: center;
}
